@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ---------HEADER----------- */

.header{
    display: flex;
    justify-content: center;
}

.header__box{
    width: var(--head-wd);
    height: var(--head-hg);
    display: flex;
}

.header__side1{
    display: flex;
    align-items: center;
}

.header__log{
    width: var(--wd-rf1);
    height: var(--hg-rf1);
}

.header__log img{
    width: 100%;
    height: 100%;
}

.header__search{
    padding: 0 var(--padd-rf1);
}

.header__form{
    padding: 0 var(--padd-rf2) ;
    display: flex;
    align-items: center;
}


.header__inpt{
    width: var(--wd-rf2);
    height: var(--hg-rf1);
    border-radius: var(--rad); 
}


.header__side2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

}

.header__btn{
    height: var(--hg-rf1);
    margin-right: var(--marg-ref1);
    padding: var(--padd-rf2) ;
}



/* ---------CONTENT----------- */

main{
    margin-top: var(--marg-ref1);
}



.content{
    display: flex;
    justify-content: center;
}

.content__box{
    width: var(--head-wd);
    height: var(--hg-adapt);
    display: grid;
    grid-template-columns: 250px 6fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--padd-rf2);
    /* background-color: brown; */
}





/* --------ASIDE LEFT---------- */





.content__as_lft_cont1{
    /* background-color: aquamarine; */
    height: 320px;
    padding: var(--padd-rf1);
    font-weight: 500;
}

.content__as_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

.content__as_btn a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.content__as_reg_btn{
    margin-bottom: var(--marg-ref1);
}

.content__as_lft_cont2{
    /* background-color: blueviolet; */
    width: var(--wd-adapt);
}
.content__asd_nav{
    position: relative;
    right: 35px;
    list-style: none;
}


.content__asd_nav2{
    height: 460px;
    list-style: none;
    position: relative;
    right: 35px;
    overflow: auto;
}

.content__li{
    /* background-color: darkslategray ; */
    padding: var(--padd-rf2);
    display: flex;
}


.content__cont3_txt{
    padding-left: var(--padd-rf2);
    margin: var(--marg-ref1) 0;
}

.content__as_lft_cont4{
    /* background-color: chartreuse; */
    display: flex;
    width: 14rem;
}

.content__cont4_icons{
    width: 24px;
    height: 24px;
    padding: 0.4rem;
}

.content__cont4_icons:hover{
    background-color: var(--blue2);
    color: var(--blue1);
    text-decoration: underline;
    cursor: pointer;
    border-radius: var(--rad);
}



.content__as_lft_cont6{
    /* background-color: crimson; */
    padding: var(--padd-rf1);
    font-weight: 500;
}

.content__as_lft_cont7{
    padding: var(--padd-rf1);
    font-weight: 500;
}


/* --------CENTER---------- */


.content__nav_list{
    display: flex;
    list-style: none;
}
.content__nav_li{
    padding-right: var(--padd-rf3);
    font-weight: var(--fw-bold);
}

.content__forum{
    margin-bottom: var(--marg-ref6);
}

.content__item1{
    margin: var(--marg-ref2) 0;
}


.content__image img{
    width: var(--wd-adapt);
    border-radius: var(--rad);

}

.content__image2 img{
    width: 530px;
    height: 280px;
    border-radius: var(--rad);
    padding-left: var(--padd-rf5);
}

.content__tittle{
    font-size: var(--fs-xl);
    font-weight: var(--fw-medium-bold);
    color: black;
    margin-bottom: var(--marg-ref3);
    margin-left: var(--marg-ref1);
}

.content__tittle2{
    font-weight: var(--fw-bold);
    padding-right: var(--padd-rf5);

}


.content__tittle3{
    font-weight: var(--fw-bold);
    font-size: 1.6rem;
    padding-right: var(--padd-rf1);
    margin: var(--marg-ref3) 0;
}
.content__tittle4{
    margin: var(--marg-ref1) 0;
    /* background-color: blue; */
}

.content__tittle4 h2{
    padding: 0 var(--padd-rf3);
    font-weight: var(--fw-bold);
    font-size: 1.4rem;
    /* background-color: rgb(90, 90, 255); */
}

.content__text{
    margin: var(--marg-ref3) 0;
    padding-right: var(--padd-rf1);
}

.content__txt2{
    margin: var(--marg-ref1) 0;
    padding: var(--padd-rf3) var(--padd-rf4);
    /* background-color: chartreuse; */
}


.content__tags_box{
    /* background-color: blue; */
    height: 2.5rem;
    display: flex;

}



.content__tag{
    margin: 0 var(--marg-ref2) 0 0;
    padding: var(--padd-rf2) var(--padd-rf3);
    color: black;
    /* background-color: chartreuse; */
}



.--color_blue{
    color: var(--blue1);
}

.--color_gray{
    color: var(--gray1);
}

/* ---------MODF----------- */

.--btn_global_style{
    background-color: white;
    border-radius: var(--rad);
    cursor: pointer;
}

.--login_style{
    border: none;
    color: var(--gray1);
    width: var(--wd-rf3);
    font-weight: var(--fw-medium);
}

.--login_style2{
    border: none;
    color: var(--gray1);
    font-weight: var(--fw-medium);
    height: var(--hg-rf1);
    width: var(--wd-adapt);
}

.--regst_style{
    border-color: var(--blue1);
    color: var(--blue1);
    font-weight: var(--fw-medium);
    height: var(--hg-rf1);
}

.--regst_style2{
    border-color: var(--blue1);
    color: var(--blue1);
    font-weight: var(--fw-medium);
    height: var(--hg-rf1);
    width: var(--wd-adapt);
}


.--hover_style1:hover{
    background-color: var(--blue2);
    color: var(--blue1);
    text-decoration: underline;
    cursor: pointer;
}

.--hover_style2:hover{
    background-color: var(--blue1);
    color: white;
    text-decoration: underline;
}

.--hover_style3:hover{
    background-color: var(--blue2);
}

.--hover_style4:hover{
    border: solid 1px var(--gray1);
}

.--hover_style5:hover{
    background-color: var(--blue2);
}

.--pressed_none:focus{
    outline: none;
}


.--border_none{
    border: none;
}

.--borderline{
    border: solid 1px var(--gray2);
    border-radius: var(--rad);
}

.--icons_btn{
    background-color: white;
    border-radius: var(--rad);
    cursor: pointer;
    border: none;
    width: var(--hg-rf1);
    height: var(--hg-rf1);
}

.--marg_block{
    margin-top: var(--marg-ref2);
}

.--text_edit{
    text-decoration: underline;
    color: var(--blue3);
    cursor: pointer;
}

.--text_blue{
    color: var(--blue3);
    text-decoration: none;
    cursor: pointer;
}

.--text_blue_hover:hover{
    color: var(--blue3);
    text-decoration: none;
    cursor: pointer;
}


.--text_edit_hover:hover{
    color: var(--blue3);
    text-decoration: underline;
    cursor: pointer;
}


.--text_decoration_none{
    text-decoration: none;
}


.--tag_hover:hover{
    background-color: rgba(243,230,230,255);
    border: solid rgba(213,170,170,255) 1px;
    border-radius: var(--rad);
}

.--txt_black{
    color: black;
}



:root{
    --head-wd: 1280px;
    --head-hg: 56px;


    --wd-rf1: 50px;
    --wd-rf2: 420px;
    --wd-rf3: 75px;
    --hg-rf1: 40px;


    --hg-adapt: 100%;
    --wd-adapt: 100%;


    --padd-rf1: 1rem;
    --padd-rf2: 0.5rem;
    --padd-rf3: 1.5rem;
    --padd-rf4: 2rem;
    --padd-rf5: 2.5rem;
    --padd-rf6: 3rem;


    --marg-ref1: 0.5rem;
    --marg-ref2: 1rem;
    --marg-ref3: 1.5rem;
    --marg-ref4: 2rem;
    --marg-ref5: 2.5rem;
    --marg-ref6: 3rem;


    --rad: 0.3rem;


    --blue1: rgba(59,73,223,255);
    --blue2: rgba(235,236,252,255);
    --blue3: rgb(56,84,218);
    --gray1: rgba(64,64,64,255);
    --gray2: rgba(212,212,212,255);


    --red1: rgba(137,6,6,255);


    --fw-normal: 400;
    --fw-medium: 500;
    --fw-medium-bold: 600;
    --fw-bold: 700;
    --fw-heavy: 800;

    --fs-xl: 2rem;


    

}